.DS_STORE

# ChuGL files
*.ini

# Scratch workspace for testing
scratch/

# Midi devices output
.midiDevices.txt

# saves directory
saves/

# tuning files directory
scala/

# documentation
audio/
image/
